name: Hello World Workflow

on: 
  push:
    branches:
      - main
    
  pull_request:
    branches:
      - main

  workflow_dispatch:

jobs:
  hello:
    runs_on: ubuntu_latest
    steps:
      - uses: actions/checkout@v2
      - name: hello!
        run: echo "Hello World"
        shell: bash
  goodbye:
    runs_on: ubuntu_latest
    steps:
      - uses: actions/checkout@v2
      - name: goodbye!
        run: echo "Sayonara my man"
        shell: bash